<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
	button {
		border: none;
		background-color:transparent;
	}
	.field-error {
        border-color: #dc3545;
        color: #dc3545;
    }
    .division-line {
	    border-top: 1px solid #E7E7E7;
	    margin: 0px 0px 10px 0px;
    }
    .comment-box {
    	border: 1px solid #E7E7E7;
    	padding: 13px 10px;
	}
	.board-title {
    	font-weight: bold;
    	font-size: 20px;
	}
</style>
<body>
<div class="container">
	<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<!--	start bulletin board   -->
	<div class="container">
		<div class="row">
			<div class="col-sm-11 board-title text-left" style="justify-content: start">
				<p th:text="${bulletinBoardDto.title}">제목</p>
			</div>
			<div class="col-sm-1" style="justify-content: end">
				<button type="button" class="btm_image" th:onclick="|location.href='@{/boards/{id}/like(id=${bulletinBoardDto.id})}'|">
					<img th:if="${!checkLike}" th:src="|/images/빈 하트.png|" width="20" height="20"/>
					<img th:if="${checkLike}" th:src="|/images/redHeart.png|" width="20" height="20"/>
				</button>
			</div>
		</div>
		<div >
			<div class="division-line"></div>
				<div class="row">
					<p th:text="${bulletinBoardDto.user.nickName}">작성자</p>&nbsp;&nbsp;&nbsp;
					<p style="border-left: 2px solid #E7E7E7;"></p>&nbsp;&nbsp;&nbsp;
					<p class="text-muted" th:text="${#temporals.format(bulletinBoardDto.dateList.createDate, 'yyyy-MM-dd HH:mm:ss')}">작성 날짜</p>
				</div>
				<div class="row float-right">
					<p class="text-muted" style="font-size: 13px;" th:text="|조회수 : ${bulletinBoardDto.views}|">조회수</p>&nbsp;&nbsp;&nbsp;
					<p class="text-muted" style="font-size: 13px;" th:text="|좋아요 : ${bulletinBoardDto.likeBoardSize}|">좋아요 수</p>&nbsp;&nbsp;&nbsp;
				</div>
		</div>
	</div>
	<div class="form-group">
		<label for="content"></label>
		<textarea class="form-control" id="content" name="content" th:text="${bulletinBoardDto.content}" rows="12" readonly>내용</textarea>
	</div>
	<div th:if="${!bulletinBoardDto.images.isEmpty()}" class="form-group">
		<p>이미지</p>
		<img th:each="imageFile : ${bulletinBoardDto.images}" th:src="|/images/${imageFile.getStoreFileName()}|" width="300" height="300"/>
	</div>
	<div class="float-right">
		<button type="button" class="btn btn-primary" th:onclick="|location.href='@{/boards}'|">목록으로</button>
		<button th:if="${bulletinBoardDto.user.nickName == nickName}" type="button" class="btn btn-primary"
		        th:onclick="|location.href='@{/boards/{id}/edit(id=${bulletinBoardDto.id})}'|">수정</button>
		<button th:if="${bulletinBoardDto.user.nickName == nickName}" type="button" class="btn btn-primary"
		        th:onclick="|location.href='@{/boards/{id}/delete(id=${bulletinBoardDto.id})}'|">삭제</button>
	</div>

<!--	end bulletin board   -->

	<br/>
	<br/>
	<br/>

<!--    start comment list    -->

	<div th:if="${commentForms != null}">
		<p>댓글</p>
		<div class="division-line"></div>
	</div>

	<!--       parent comment list     -->

	<div th:each="form : ${commentForms}">
		<div class="row">
			<p th:text="${form.nickName}">nickName</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<p class="text-left text-muted" th:text="${#temporals.format(form.dateList.createDate, 'yyyy-MM-dd HH:mm:ss')}">작성 날짜</p>&nbsp;&nbsp;
			<div>
				<a th:if="${form.nickName==nickName}" class="text-muted"
				   th:href="@{/boards/{id}(id=${bulletinBoardDto.id}, updateCommentId=${form.id})}">수정</a>
				<a th:if="${form.nickName==nickName}" class="text-muted"
				   th:href="@{/boards/{id}/comments/{commentId}/delete(id=${bulletinBoardDto.id}, commentId=${form.id})}">삭제</a>
			</div>
		</div>
		<div>
			<p th:text="${form.content}">content</p>
		</div>
		<a th:href="@{/boards/{id}(id=${bulletinBoardDto.id}, clickChild=${form.id})}">답글 달기</a>
		<div class="division-line"></div>

		<!--    parent comment update form   -->

		<div th:if="${updateCommentId == form.id}" class="comment-box" >

			<form role="form" th:action="@{/boards/{id}/comments/{commentId}/update(id=${bulletinBoardDto.id}, commentId=${form.id})}"
			      th:object="${updateCommentForm}" th:method="post">
				<p th:text="${nickName}" class="col-form-label attribute-name">닉네임</p>
				<div class="row">
					<div class="col-sm-10">
					<textarea th:errorclass="field-error" class="form-control" th:field="*{content}"
					          rows="2"></textarea>
						<p class="field-error" th:errors="*{content}">입력 오류</p>
					</div>
					<div class="col-sm-2">
						<button type="submit" class="btn" style="background-color: #B2CFF1;">수정</button>
						<button type="button" class="btn" style="background-color: #B2CFF1;"
						        th:onclick="|location.href='@{/boards/{id}(id=${bulletinBoardDto.id})}'|">취소</button>
					</div>
				</div>
			</form>

		</div>

	<!--    child comment create form   -->

		<div th:if="${clickChild == form.id}" class="comment-box" >

			<form role="form" th:action="@{/boards/{id}/comments/child(id=${bulletinBoardDto.id}, parentId=${form.id})}"
			      th:object="${commentForm}" th:method="post">
				<p th:text="${nickName}" class="col-form-label attribute-name">닉네임</p>
				<div class="row">
					<div class="col-sm-10">
					<textarea th:errorclass="field-error" class="form-control" th:field="*{content}"
					          rows="2"></textarea>
						<p class="field-error" th:errors="*{content}">입력 오류</p>
					</div>
					<div class="col-sm-2">
						<button type="submit" class="btn btn-primary">작성</button>
						<button type="button" class="btn" style="background-color: #B2CFF1;"
						        th:onclick="|location.href='@{/boards/{id}(id=${bulletinBoardDto.id})}'|">취소</button>
					</div>
				</div>
			</form>

		</div>

	<!--       child comment list      -->

		<div style="background-color: #F3F3F3" th:each="child : ${form.child}">
			<div style="margin-left: 2em" class="row">
				<p th:text="|┕ ${child.nickName}|">nickName</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<p class="text-left text-muted" th:text="${#temporals.format(child.dateList.createDate, 'yyyy-MM-dd HH:mm:ss')}">작성 날짜</p>&nbsp;&nbsp;
				<div>
					<a th:if="${child.nickName==nickName}" class="text-muted"
					   th:href="@{/boards/{id}(id=${bulletinBoardDto.id}, updateCommentId=${child.id})}">수정</a>
					<a th:if="${child.nickName==nickName}" class="text-muted"
					   th:href="@{/boards/{id}/comments/{commentId}/delete(id=${bulletinBoardDto.id}, commentId=${child.id})}">삭제</a>
				</div>
			</div>
			<div style="margin-left: 4em" >
				<p th:text="${child.content}">content</p>
			</div>
			<div class="division-line"></div>

			<!--    child comment update form   -->

			<div th:if="${updateCommentId == child.id}" class="comment-box" >
				<form role="form" th:action="@{/boards/{id}/comments/{commentId}/update(id=${bulletinBoardDto.id}, commentId=${child.id})}"
				      th:object="${updateCommentForm}" th:method="post">
					<p th:text="${nickName}" class="col-form-label attribute-name">닉네임</p>
					<div class="row">
						<div class="col-sm-10">
					<textarea th:errorclass="field-error" class="form-control" th:field="*{content}"
					          rows="2"></textarea>
							<p class="field-error" th:errors="*{content}">입력 오류</p>
						</div>
						<div class="col-sm-2">
							<button type="submit" class="btn" style="background-color: #B2CFF1;">수정</button>
							<button type="button" class="btn" style="background-color: #B2CFF1;"
							        th:onclick="|location.href='@{/boards/{id}(id=${bulletinBoardDto.id})}'|">취소</button>
						</div>
					</div>
				</form>
				<div class="division-line"></div>
			</div>
		</div>

	</div>

<!--	   end comment list        -->

	<br/>
	<br/>
	<br/>

<!--    parent comment create form   -->

	<form role="form" th:action="@{/boards/{id}/comments/parent(id=${bulletinBoardDto.id})}" th:object="${commentForm}"
	      th:method="post" class="comment-box">
		<p th:text="${nickName}" class="col-form-label attribute-name">닉네임</p>
		<div class="row">
			<div class="col-sm-10">
				<textarea th:errorclass="field-error" class="form-control" th:field="*{content}" rows="2"></textarea>
				<p class="field-error" th:errors="*{content}">입력 오류</p>
			</div>
			<div class="col-sm-2">
				<button type="submit" class="btn btn-primary">작성</button>
			</div>
		</div>
	</form>
	<br/>
	<br/>
	<div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>