<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
	<div th:replace="fragments/bodyHeader :: bodyHeader"/>
	<div class="container">
		<div class="row">
			<div class="col-sm">
				<p th:text="${bulletinBoardDto.title}"></p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm">
				<p class="text-left" th:text="${bulletinBoardDto.user.nickName}"></p>
			</div>
			<div class="col-sm">
				<p class="text-right" th:text="${#temporals.format(bulletinBoardDto.writeDate, 'yyyy-MM-dd HH:mm:ss')}"></p>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="content"></label>
		<textarea class="form-control" id="content" name="content" th:text="${bulletinBoardDto.content}" rows="12" readonly></textarea>
	</div>
	<div class="form-group">
		<label for="image">이미지</label>
		<input type="text" id="image" name="image" th:value="${bulletinBoardDto.image}" class="form-control-file" >
	</div>
	<div class="float-right">
		<button type="button" class="btn btn-primary" th:onclick="|location.href='@{/boards}'|">목록으로</button>
		<button type="button" class="btn btn-primary" th:onclick="|location.href='@{/boards/{id}/edit(id=${bulletinBoardDto.id})}'|">수정</button>
	</div>
	<br/>
	<div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>