<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
	<div th:replace="fragments/bodyHeader :: bodyHeader" />
	<div>
		<table class="table table-striped">
			<thead>
			<tr style="text-align: center">
				<th>지역</th>
				<th>제목</th>
				<th>작성자</th>
				<th>작성일</th>
				<th>조회수</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="pageBoardForm : ${pageBoardForms}" style="text-align: center">
				<td th:text="${pageBoardForm.region}"></td>
				<td th:text="${pageBoardForm.title}" th:onclick="|location.href='@{/boards/{id}(id=${pageBoardForm.id})}'|" style="cursor:pointer;"></td>
				<td th:text="${pageBoardForm.userNickName}"></td>
				<td th:text="${#temporals.format(pageBoardForm.dates.createDate, 'yyyy-MM-dd')}"></td>
				<td th:text="${pageBoardForm.views}"></td>
			</tr>
			</tbody>
		</table>

		<button th:each="page : ${#numbers.sequence(1,lastPage)}" type="button" class="btn btn-primary" th:onclick="|location.href='@{/boards(page=${page})}'|" th:text="${page}"></button>

		<div class="float-right">
			<button type="button" class="btn btn-primary" th:onclick="|location.href='@{/}'|">홈으로</button>
		</div>
	</div>
	<br/>
	<br/>
	<div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>