<!DOCTYPE HTML>
<html th:replace="~{layout/layout :: layout(~{::section})}" xmlns:th="http://www.thymeleaf.org">
<body>
<section>
	<div class="container">
		<div class="message-list">
			<h1 class="text-muted" style="margin: 0px 0px 20px 10px; font-size: 16px;">
				<img th:src="|/img/message.png|" alt="message-icon" width="19" height="19"/> 【쪽지함】</h1>
			<table class="table table-striped">
				<thead>
				<tr style="text-align: center">
					<th>제품명</th>
					<th>나눔 하는 사람</th>
					<th>나눔 받는 사람</th>
					<th>생성일</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="pageForm : ${pageForms}" style="text-align: center">
					<td th:text="${pageForm.itemName}" style="width: 38%; cursor:pointer;"
					    th:onclick="|location.href='@{/messages/{roomId}(roomId=${pageForm.id}, boardId=${pageForm.itemBoardId})}'|"></td>
					<td th:text="${pageForm.recipientNick}" style="width: 23%; cursor:pointer;"
					    th:onclick="|location.href='@{/messages/{roomId}(roomId=${pageForm.id}, boardId=${pageForm.itemBoardId})}'|">나눔 하는 사람</td>
					<td th:text="${pageForm.senderNick}" style="width: 23%; cursor:pointer;"
					    th:onclick="|location.href='@{/messages/{roomId}(roomId=${pageForm.id}, boardId=${pageForm.itemBoardId})}'|">나눔 받는 사람</td>
					<td th:text="${#temporals.format(pageForm.createdDate, 'yyyy-MM-dd')}" style="width: 16%;">생성일</td>
				</tr>
				</tbody>
			</table>

			<!--	start pagination	-->
			<nav class="nav justify-content-center">
				<ul class="pagination">
					<li class="page-item">
						<a th:if="${offset > 0}" class="page-link"
						   th:href="@{/messages(page=${offset-1})}">&laquo;</a>
					</li>

					<li th:each="page : ${#numbers.sequence(offset,lastPage)}" class="page-item">
						<a class="page-link" th:text="${page+1}"
						   th:href="@{/messages(page=${page})}"></a>
					</li>

					<li class="page-item">
						<a th:if="${!isEnd}" class="page-link" aria-label="Next"
						   th:href="@{/messages(page=${lastPage+1})}">&raquo;</a>
					</li>
				</ul>
			</nav> <!--	/pagination -->
		</div>
	</div> <!-- /container -->
</section>
</body>
</html>