<!DOCTYPE HTML>
<html th:replace="~{layout/layout :: layout(~{::section})}" xmlns:th="http://www.thymeleaf.org">
<body>
<section>
	<div class="container">
		<div class="message-room-label">
			<img class="mini-leadImage" th:src="|/images/${readForm.leadImage.getStoreFileName()}|" alt="..." width="70" height="70">
			<div style="display: inline-block">
				<p class="msgRoom-item-name" th:text="${readForm.itemName}"></p>
				<p class="msgRoom-item-price" th:text="|가격: ${readForm.price} 원|"></p>
			</div>
			<p class="msgRoom-name" th:text="|${readForm.senderNick} 님과 ${readForm.recipientNick} 님의 채팅방|"></p>
		</div>

		<!--    messages    -->
		<div th:each="message : ${readForm.messages}">
			<div th:classappend="${message.senderNick == session.login_user} ? 'from-me' : 'from-them'">
				<span class="nickname" style="margin-right: 10px;" th:text="${message.senderNick}">보낸 사람</span>
				<span class="text-left regDate" th:text="${#temporals.format(message.createdDate, 'yyyy-MM-dd HH:mm:ss')}">작성 날짜</span>
				<p style="white-space: pre-wrap;" th:text="${message.content}">content</p>
				<div class="clear"></div>
			</div>
		</div><!--   /messages    -->

		<!--   message input box    -->
		<form role="form" th:action="@{/messages/{roomId}(roomId=${readForm.id})}"
		      th:object="${saveForm}" th:method="post" class="message-input-box">
			<div>
				<img class="comment-nickname-icon" th:src="|/img/cat-face.png|" alt="cat-icon" width="17" height="17"/>
				<span class="comment-nickname" th:text="${sender}">닉네임</span>
				<button class="float-right comment-write-button" type="submit">보내기</button>
			</div>
			<div>
				<label th:for="*{content}" style="display: none;"></label>
				<textarea th:errorclass="field-error" class="form-control comment-textarea" th:field="*{content}" placeholder="메시지를 입력해주세요." rows="3"></textarea>
				<p class="field-error" th:errors="*{content}">입력 오류</p>
			</div>
		</form><!--   message input box    -->
	</div> <!-- /container -->
</section>
</body>
</html>