<!DOCTYPE HTML>
<html th:replace="~{layout/layout :: layout(~{::section})}" xmlns:th="http://www.thymeleaf.org">
<body>
<section>
	<div class="container">
		<table class="table table-striped">
			<thead>
			<tr style="text-align: center">
				<th>지역</th>
				<th>제목</th>
				<th>작성자</th>
				<th>작성일</th>
				<th>조회수</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="pageForm : ${pageForms}" style="text-align: center">
				<td th:text="${pageForm.region}"></td>
				<td th:text="${pageForm.title}" th:onclick="|location.href='@{/bulletins/{id}(id=${pageForm.id})}'|" style="cursor:pointer;"></td>
				<td th:text="${pageForm.nickname}"></td>
				<td th:text="${#temporals.format(pageForm.createdDate, 'yyyy-MM-dd')}"></td>
				<td th:text="${pageForm.views}"></td>
			</tr>
			</tbody>
		</table>

		<!--	start pagination	-->
		<nav class="nav justify-content-center">
			<ul class="pagination">
				<li class="page-item">
					<a th:if="${offset > 0}" class="page-link"
					   th:href="@{/users/detail/bulletins(page=${offset-1})}">&laquo;</a>
				</li>

				<li th:each="page : ${#numbers.sequence(offset,lastPage)}" class="page-item">
					<a class="page-link" th:text="${page+1}"
					   th:href="@{/users/detail/bulletins(page=${page})}"></a>
				</li>

				<li class="page-item">
					<a th:if="${!isEnd}" class="page-link" aria-label="Next"
					   th:href="@{/users/detail/bulletins(page=${lastPage+1})}">&raquo;</a>
				</li>
			</ul>
		</nav> <!--	/pagination -->

	</div> <!-- /container -->
</section>
</body>
</html>