<!DOCTYPE html>
<html th:replace="~{layout/layout :: layout(~{::section})}" xmlns:th="http://www.thymeleaf.org">
<body>
<section>
	<div class="container">
		<div class="row">
			<form th:object="${readForm}">
				<div class="col-md-4 mb-3 my-info">
					<div style="margin-left: 10px;">
						<span class="comment-nickname" th:text="|*{nickname} 님|">닉네임</span>
						<span style="margin-left: 10px;">
							<a class="utility-button" style="font-size: 13px; font-weight: 500; margin-left: 5px;"
							   th:href="@{/users/detail/edit}">수정</a>
							<a class="utility-button" style="font-size: 13px; font-weight: 500;"
							   data-toggle="modal" href="#deleteUserModal">회원 탈퇴</a>
						</span>
					</div>
					<div style="margin-left: 10px;">
						<img th:src="|/img/email.png|" alt="email-icon" width="17" height="17"/>
						<span th:text="*{emailId}">이메일</span>
					</div>
					<div style="margin-left: 10px;">
						<img th:src="|/img/user.png|" alt="user-icon" width="17" height="17"/>
						<p th:text="|이름: *{name}|">이름</p>
						<p th:text="|나이: *{age}|"></p>
						<p th:text="|성별: *{gender}|"></p>
						<p class="text-muted" th:text="|join from *{#temporals.format(createdDate, 'yyyy-MM-dd')}|"
						   style="font-size: 13px; text-align: center; padding-right: 10px; margin-top: 20px;"></p>
					</div>
				</div>
			</form>
			<div class="col-md-7 mb-3" style="max-width: 100%; margin-left: 50px; border: 1px solid #e8e8e8; border-radius: 50px;">
				<div>
					<img th:src="|/img/redHeart.png|" alt="heart-icon" width="17" height="17" style="margin-left: 10px;"/>
					<span style="display: inline-block; margin: 10px 0px 5px 10px;">좋아요</span>
					<ul style="list-style-type: none;">
						<li>
							<img th:src="|/img/cat-paw-black.png|" alt="cat-icon" width="17" height="17"/>
							<span>게시글</span>
							<a class="utility-button" style="font-size: 13px; font-weight: 500; margin-left: 5px;"
							   th:text="${likeBulletinSize}" th:href="@{/users/detail/likes/bulletins}"></a>
						</li>
						<li>
							<img th:src="|/img/cat-paw-black.png|" alt="cat-icon" width="17" height="17"/>
							<span>나눔글</span>
							<a class="utility-button" style="font-size: 13px; font-weight: 500; margin-left: 5px;"
							   th:text="${likeItemSize}" th:href="@{/users/detail/likes/items}"></a>
						</li>
					</ul>
				</div>
				<div class="division-line"></div>
				<div>
					<img th:src="|/img/write.png|" alt="heart-icon" width="17" height="17" style="margin-left: 10px;"/>
					<span style="margin-left: 10px;">내가 작성한 글</span>
					<ul style="list-style-type: none;">
						<li>
							<img th:src="|/img/cat-paw-black.png|" alt="cat-icon" width="17" height="17"/>
							<span>실종글</span>
							<a class="utility-button" style="font-size: 13px; font-weight: 500; margin-left: 5px;"
							   th:text="${lostSize}" th:href="@{/users/detail/lost}"></a>
						</li>
						<li>
							<img th:src="|/img/cat-paw-black.png|" alt="cat-icon" width="17" height="17"/>
							<span>게시글</span>
							<a class="utility-button" style="font-size: 13px; font-weight: 500; margin-left: 5px;"
							   th:text="${bulletinSize}" th:href="@{/users/detail/bulletins}"></a>
						</li>
						<li>
							<img th:src="|/img/cat-paw-black.png|" alt="cat-icon" width="17" height="17"/>
							<span>나눔글</span>
							<a class="utility-button" style="font-size: 13px; font-weight: 500; margin-left: 5px;"
							   th:text="${itemSize}" th:href="@{/users/detail/items}"></a>
						</li>
						<li>
							<img th:src="|/img/cat-paw-black.png|" alt="cat-icon" width="17" height="17"/>
							<span>문의글</span>
							<a class="utility-button" style="font-size: 13px; font-weight: 500; margin-left: 5px;"
							   th:text="${inquirySize}" th:href="@{/users/detail/inquiries}"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- delete board modal -->
		<div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="deleteUserModalLabel">회원 탈퇴</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body" style="white-space: pre-line;">작성하신 게시글과 댓글이 모두 삭제됩니다.
																		   정말 탈퇴하시겠습니까?</div>
					<div class="modal-footer">
						<a class="utility-button" href="#" data-dismiss="modal">취소</a>
						<a class="utility-button" th:href="@{/users/detail/delete}">탈퇴</a>
					</div>
				</div>
			</div>
		</div><!-- /delete board modal -->
	</div><!--    /container    -->
</section>
</body>
</html>