<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
	<div th:replace="fragments/bodyHeader :: bodyHeader"/>
	<div class="jumbotron">
		<h1>내 정보</h1>
		<form th:object="${userDto}">
			<div class="form-group row">
				<label th:for="*{emailId}" class="col-sm-2 col-form-label">이메일</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext" th:field="*{emailId}">
				</div>
			</div>
			<div class="form-group row">
				<label th:for="*{nickName}" class="col-sm-2 col-form-label">닉네임</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext" th:field="*{nickName}">
				</div>
			</div>
			<div class="form-group row">
				<label th:for="*{name}" class="col-sm-2 col-form-label">이름</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext" th:field="*{name}">
				</div>
			</div>
			<div class="form-group row">
				<label th:for="*{age}" class="col-sm-2 col-form-label">나이</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext" th:field="*{age}">
				</div>
			</div>
			<div class="form-group row">
				<label th:for="*{gender}" class="col-sm-2 col-form-label">성별</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext" th:field="*{gender}">
				</div>
			</div>
			<div class="form-group row">
				<label th:for="*{reliability}" class="col-sm-2 col-form-label">신뢰도</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext" th:field="*{reliability}">
				</div>
			</div>
			<div class="form-group row">
				<label th:for="*{joinDate}" class="col-sm-2 col-form-label">가입 날짜</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext" th:field="*{joinDate}">
				</div>
			</div>
			<button type="button" class="btn btn-primary" th:onclick="|location.href='@{/users/{id}/edit(id=${userDto.id})}'|">수정</button>
			<button type="button" class="btn btn-primary" th:onclick="|location.href='@{/}'|">홈으로</button>
		</form>
	</div>
</div>
</body>
</html>