<!DOCTYPE html>
<html th:replace="~{layout/layout :: layout(~{::section})}" xmlns:th="http://www.thymeleaf.org">
<body>
<section>
	<div class="container">
		<form role="form" th:object="${updateForm}" method="post">
			<div class="col-md-4 mb-3 my-info" style="width: 350px; margin: auto;">
				<h1 class="text-muted" style="text-align: center; margin-bottom: 15px; font-size: 16px;">기본정보 수정</h1>
				<div style="text-align: right; font-weight: 600; margin-right: 10px;">
					<img th:src="|/img/user.png|" alt="user-icon" width="17" height="17"/>
					<input th:field="*{nickname}" th:text="|*{nickname} 님|" style="display: none; font-weight: 600" readonly>
				</div>
				<div style="margin-left: 10px;">
					<div style="margin-bottom: 13px;">
						<label th:for="name" style="margin-bottom: 3px; margin-left: 5px;">이름</label>
						<input type="text" th:field="*{name}" th:errorclass="field-error" class="form-control">
						<p class="field-error" th:errors="*{name}">이름 오류</p>
					</div>

					<div style="margin-bottom: 13px;">
						<label th:for="age" style="margin-bottom: 3px; margin-left: 5px;">나이</label>
						<input type="number" th:field="*{age}" th:errorclass="field-error" class="form-control">
						<p class="field-error" th:errors="*{age}">나이 오류</p>
					</div>

					<div style="margin-bottom: 13px;">
						<label th:for="gender" style="margin-bottom: 3px; margin-left: 5px;">성별</label>
						<div style="margin-left: 5px;">
							<label><input type="radio" th:field="*{gender}" value="MAN" th:checked> 남자</label>
							<label style="margin-left: 15px;"><input type="radio" th:field="*{gender}" value="WOMAN" th:checked> 여자</label>
						</div>
						<p class="field-error" th:errors="*{gender}">성별 오류</p>
					</div>
				</div>
				<div class="col-lg-12 text-right">
					<button type="button" class="utility-button" style="font-size: 13px; font-weight: 500;"
					        th:onclick="|location.href='@{/users/detail/edit/password}'|">비밀번호 변경</button>
					<button type="button" class="utility-button" style="font-size: 13px; font-weight: 500;"
					        th:onclick="|location.href='@{/users/detail}'|">취소</button>
					<button type="submit" class="utility-button" style="font-size: 13px; font-weight: 500;">완료</button>
				</div>
			</div>
		</form>
	</div>
</section>
</body>
</html>