<!DOCTYPE HTML>
<html th:replace="~{layout/layout :: layout(~{::section})}" xmlns:th="http://www.thymeleaf.org">
<body>
<section>
	<div class="container">
		<!--	lost board   -->
		<div class="board-area">
			<!--	title     -->
			<div class="row">
				<div class="col-sm-11 board-title text-left">
					<p th:text="${readForm.title}">제목</p>
				</div>
				<div class="col-sm-1" style="justify-content: end">
					<img th:src="|/img/siren.png|" width="30" height="30"/>
				</div>
			</div><!--	/title     -->

			<!--	writer and regDate    -->
			<div class="division-line"></div>
			<span class="regName" th:text="${readForm.nickname}">작성자</span>
			<span class="vertical-division-line"></span>
			<span class="regDate" th:text="${#temporals.format(readForm.createdDate, 'yyyy-MM-dd HH:mm:ss')}">작성 날짜</span><!--	/writer and regDate    -->

			<!--	views    -->
			<div class="float-right">
				<img class="views-icon" th:src="|/svg/views.svg|" width="17" height="17"/>
				<span class="text-muted" style="font-size: 13px;" th:text="|조회수 : ${readForm.views}|">조회수</span>
			</div><!--	/views    -->

			<!-- Carousel -->
			<div th:if="${!readForm.images.isEmpty()}" id="carouselExampleControls" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li th:each="num : ${#numbers.sequence(0,imageSize-1)}" data-target="#carouselExampleIndicators" th:data-slide-to="${num}"
					    th:classappend ="${num} == 0 ? active : ''"></li>
				</ol>
				<div class="carousel-inner">
					<div th:each="imageFile : ${readForm.images}" class="carousel-item" th:classappend ="${firstImage.getStoreFileName == imageFile.getStoreFileName} ? active : ''">
						<img th:src="|/images/${imageFile.getStoreFileName()}|" class="d-block w-100" alt="..." height="500" style="object-fit: contain;">
					</div>
				</div>
				<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div><!-- /Carousel -->

			<!--	board content   -->
			<div class="division-line"></div>
			<div class="text-box" id="content" name="content" th:text="${readForm.content}"></div>
			<span class="item-tag" th:text="|#${readForm.breed}|">품종</span>
			<span class="item-next-tag" th:text="|#${readForm.gratuity} 원|">사례금</span>
			<span class="item-next-tag" th:text="|#${readForm.region}|">지역</span>
			<span class="item-next-tag" th:text="|#${readForm.lostPlace}|">실종장소</span>
			<span class="item-next-tag" th:text="|#${readForm.lostDate}|">실종일</span>
			<div class="division-line"></div><!--	/board content   -->

			<!--    utility button    -->
			<a th:if="${readForm.nickname == session.login_user}" class="utility-button"
			   th:href="@{/lost/{id}/edit(id=${readForm.id})}">수정</a>
			<a th:if="${readForm.nickname == session.login_user}" class="utility-button"
			   data-toggle="modal" href="#deleteBoardModal">삭제</a>
			<div class="float-right">
				<a class="utility-button" th:href="@{/lost(page=0)}">목록으로</a>
			</div><!--    /utility button    -->

			<!-- delete board modal -->
			<div class="modal fade" id="deleteBoardModal" tabindex="-1" role="dialog" aria-labelledby="deleteBoardModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="deleteBoardModalLabel">실종글 삭제</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							정말 삭제하시겠습니까?
						</div>
						<div class="modal-footer">
							<a class="utility-button" href="#" data-dismiss="modal">취소</a>
							<a class="utility-button" th:href="@{/lost/{id}/delete(id=${readForm.id})}">삭제</a>
						</div>
					</div>
				</div>
			</div><!-- /delete board modal -->

		</div><!--	/lost board   -->

		<!--    comment area    -->
		<div class="comment-area">
			<div th:if="${commentForms != null}">
				<span style="font-weight: bold;">댓글</span>
				<img class="comment-icon" th:src="|/img/comment.png|" width="21" height="21"/>
				<div class="division-line"></div>
			</div>

			<!--    comment list    -->
			<div class="comment-list">
				<!--       parent comment list     -->
				<div th:each="form : ${commentForms}">
					<div style="padding: 0px 0px 0px 5px">
						<span class="nickname" th:text="${form.nickname}">nickname</span>
						<span style="margin: 0px 0px 0px 10px">
							<a style="font-size: 0.9rem;" th:if="${form.nickname==session.login_user}" class="text-muted"
							   th:href="@{/comments/{id}/edit(id=${form.id}, boardId=${readForm.id})}">수정</a>
							<a style="font-size: 0.9rem;" th:if="${form.nickname==session.login_user}" class="text-muted"
							   data-toggle="modal" th:href="@{#deleteParentModal{id}(id=${form.id})}">삭제</a>
						</span>
						<div>
							<p class="parent-comment-content" th:text="${form.content}">content</p>
						</div>
						<span class="regDate" th:text="${#temporals.format(form.createdDate, 'yyyy-MM-dd HH:mm:ss')}">작성 날짜</span>
						<div>
							<a th:href="@{/comments/child(boardId=${readForm.id}, clickReply=${form.id})}">답글 달기</a>
						</div>
						<div class="division-line" style="margin: 0px;"></div>
					</div>

					<!-- delete parent comment modal -->
					<div class="modal fade" th:id="|deleteParentModal${form.id}|" tabindex="-1" role="dialog" aria-labelledby="deleteParentModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="deleteParentModalLabel">댓글 삭제</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									정말 삭제하시겠습니까?
								</div>
								<div class="modal-footer">
									<a class="utility-button" href="#" data-dismiss="modal">취소</a>
									<a class="utility-button" th:href="@{/comments/{id}/delete(id=${form.id}, boardId=${readForm.id})}">삭제</a>
								</div>
							</div>
						</div>
					</div><!-- /delete parent comment modal -->

					<!--    parent comment update form   -->
					<div th:if="${editCommentForm != null}">
						<div th:if="${editCommentForm.commentId == form.id}" class="comment-input-box" >
							<form role="form" th:action="@{/comments/{id}/edit(id=${form.id}, boardId=${readForm.id})}"
							      th:object="${editCommentForm}" th:method="post">
								<div>
									<img class="comment-nickname-icon" th:src="|/img/cat-face.png|" alt="cat-icon" width="17" height="17"/>
									<span class="comment-nickname" th:text="${session.login_user}">닉네임</span>
									<button class="float-right comment-write-button" type="button"
									        th:onclick="|location.href='@{/lost/{id}(id=${readForm.id})}'|">취소</button>
									<button class="float-right comment-write-button" type="submit">수정</button>
								</div>
								<div>
									<label th:for="*{content}" style="display: none;"></label>
									<textarea th:errorclass="field-error" class="form-control comment-textarea" th:field="*{content}" placeholder="댓글을 작성해주세요." rows="3"></textarea>
									<p class="field-error" th:errors="*{content}">입력 오류</p>
								</div>
							</form>
						</div>
					</div><!--    /parent comment update form   -->

					<!--    child comment create form   -->
					<div th:if="${clickReply == form.id}" class="comment-input-box" >
						<form role="form" th:action="@{/comments/child(boardId=${readForm.id}, parentId=${form.id})}"
						      th:object="${commentForm}" th:method="post">
							<div>
								<img class="comment-nickname-icon" th:src="|/img/cat-face.png|" alt="cat-icon" width="17" height="17"/>
								<span class="comment-nickname" th:text="${session.login_user}">닉네임</span>
								<button class="float-right comment-write-button" type="button"
								        th:onclick="|location.href='@{/lost/{id}(id=${readForm.id})}'|">취소</button>
								<button class="float-right comment-write-button" type="submit">등록</button>
							</div>
							<div>
								<label th:for="*{content}" style="display: none;"></label>
								<textarea th:errorclass="field-error" class="form-control comment-textarea" th:field="*{content}" placeholder="답글을 작성해주세요." rows="3"></textarea>
								<p class="field-error" th:errors="*{content}">입력 오류</p>
							</div>
						</form>
					</div><!--    /child comment create form   -->

					<!--       child comment list      -->
					<div class="child-comment" th:each="child : ${form.child}">
						<span style="padding: 0px 5px 0px 0px" th:text="|┕|"></span>
						<span class="nickname" th:text="${child.nickname}">nickname</span>
						<span style="margin: 0px 0px 0px 10px">
							<a style="font-size: 0.9rem;" th:if="${child.nickname == session.login_user}" class="text-muted"
							   th:href="@{/comments/{id}/edit(id=${child.id}, boardId=${readForm.id})}">수정</a>
							<a style="font-size: 0.9rem;" th:if="${child.nickname == session.login_user}" class="text-muted"
							   data-toggle="modal" th:href="@{#deleteChildModal{id}(id=${child.id})}">삭제</a>
						</span>
						<div>
							<p class="child-comment-content" th:text="${child.content}">content</p>
						</div>
						<span class="regDate" style="padding: 0px 0px 0px 25px; margin: 0px;" th:text="${#temporals.format(child.createdDate, 'yyyy-MM-dd HH:mm:ss')}">작성 날짜</span>

						<!-- delete child comment modal -->
						<div class="modal fade" th:id="|deleteChildModal${child.id}|" tabindex="-1" role="dialog" aria-labelledby="deleteChildModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="deleteChildModalLabel">댓글 삭제</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										정말 삭제하시겠습니까?
									</div>
									<div class="modal-footer">
										<a class="utility-button" href="#" data-dismiss="modal">취소</a>
										<a class="utility-button" th:href="@{/comments/{id}/delete(id=${child.id}, boardId=${readForm.id})}">삭제</a>
									</div>
								</div>
							</div>
						</div><!-- /delete child comment modal -->

						<div class="division-line"></div>

						<!--    child comment update form   -->
						<div th:if="${editCommentForm != null}">
							<div th:if="${editCommentForm.commentId == child.id}" class="comment-input-box" style="margin-right: 15px;">
								<form role="form" th:action="@{/comments/{id}/edit(id=${child.id}, boardId=${readForm.id})}"
								      th:object="${editCommentForm}" th:method="post">
									<div>
										<img class="comment-nickname-icon" th:src="|/img/cat-face.png|" alt="cat-icon" width="17" height="17"/>
										<span class="comment-nickname" th:text="${session.login_user}">닉네임</span>
										<button class="float-right comment-write-button" type="button"
										        th:onclick="|location.href='@{/lost/{id}(id=${readForm.id})}'|">취소</button>
										<button class="float-right comment-write-button" type="submit">수정</button>
									</div>
									<div>
										<label th:for="*{content}" style="display: none;"></label>
										<textarea th:errorclass="field-error" class="form-control comment-textarea" th:field="*{content}" placeholder="댓글을 작성해주세요." rows="3"></textarea>
										<p class="field-error" th:errors="*{content}">입력 오류</p>
									</div>
								</form>
							</div>
						</div><!--    /child comment update form   -->
					</div><!--      /child comment list      -->
				</div><!--       /parent comment list     -->
			</div><!--    /comment list    -->

			<!--    parent comment create form   -->
			<form role="form" th:action="@{/comments/parent(boardId=${readForm.id})}" th:object="${commentForm}"
			      th:method="post" class="comment-input-box">
					<div>
						<img class="comment-nickname-icon" th:src="|/img/cat-face.png|" alt="cat-icon" width="17" height="17"/>
						<span class="comment-nickname" th:text="${session.login_user}">닉네임</span>
						<button class="float-right comment-write-button" type="submit">등록</button>
					</div>
					<div>
						<label th:for="*{content}" style="display: none;"></label>
						<textarea th:errorclass="field-error" class="form-control comment-textarea" th:field="*{content}" placeholder="댓글을 작성해주세요." rows="3"></textarea>
						<p class="field-error" th:errors="*{content}">입력 오류</p>
					</div>
			</form><!--    /parent comment create form   -->
		</div><!--	   /comment area      -->
	</div> <!-- /container -->
</section>
</body>
</html>