body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.main-logo {
    font-size: 25px;
    text-decoration-line: none;
}

.main-logo-link {
    display: inline-block;
    width: 120px;
}

.main-logo-link:hover {
    color: #0056b3;
    text-decoration: none;
}

.field-error {
    color: #dc3545;
    border-color: #dc3545;
}

.division-line {
    margin: 0px 0px 10px 0px;
    border-top: 1px solid #E7E7E7;
}

.vertical-division-line {
    margin: 0px 10px;
    border-left: 2px solid #E7E7E7;
}

.my-btn-upload{
    padding: 6px 25px;
    background-color:#FF6600;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.my-info {
    max-width: 100%;
    margin-left: 20px;
    padding: 10px;
    border: 1px solid #e8e8e8;
    border-radius: 50px;
}

.board-area {
    margin-bottom: 80px;
}

button {
		border: none;
		background-color:transparent;
}

.btn:active, .btn:focus {
    outline:none !important;
    box-shadow:none !important;
}

.utility-button {
    display: inline-block;
    padding: 5px 12px;
    border: 1px solid #e8e8e8;
    border-radius: 50px;
    font-size: 15px;
    color: #333;
}

.card-content {
    color: #515151;
}

.inquiry-list {
    padding: 0px 50px;
}

.message-list {
    padding: 0px 70px;
}

.lost-animal-info {
    padding: 0px 10px;
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #5A5A5A;
}

.board-write-box {
    padding: 0px 10px;
}

.board-edit-box {
    padding: 0px 10px;
}

.board-title-box {
    padding-bottom:5px;
}

.board-title-field {
    display: inline-block;
    width: 700px;
    height: 37px;
}

/* IE 10, 11의 네이티브 화살표 숨기기 */
select::-ms-expand {
    display: none;
}

select {
    width: 110px; /* 원하는 너비설정 */
    padding: .3em .5em; /* 여백으로 높이 설정 */
    font-family: inherit;  /* 폰트 상속 */
    background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%; /* 네이티브 화살표 대체 */
    border: 1px solid #999;
    border-radius: 0px; /* iOS 둥근모서리 제거 */
    -webkit-appearance: none; /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
    color: #777777;
}

.file-input-btn {
    margin-left: 10px;
}

.image-edit-area {
  display: flex;
  flex-wrap: wrap;
}

.image-edit-label {
    display: block;
    margin-left: 5px;
    padding: 10px;
    color: #9C9C9C;
}

.image-edit-box {
    margin: 20px 25px;
}

.image-edit {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-radius: .25em;
}

.views-icon {
    vertical-align: sub;
}

.like-icon {
    vertical-align: sub;
}

.comment-nickname-icon {
    vertical-align: sub;
    margin-left: 15px;
}

.comment-area {
    padding: 10px;
    background-color: #F9F9F9;
}

.comment-list {
    margin-bottom: 60px;
}

.comment-icon {
    vertical-align: sub;
}

.comment-input-box {
    padding: 0px;
    margin: 0px;
    border: 1px solid #ced4da;
    background-color: #FFFFFF;
}

.comment-textarea {
    border-radius: 0px;
    border: 1px solid #ced4da;
    border-width: 1px 0px 0px;
}

.comment-nickname {
    display: inline-block;
    padding: 11px 0px 0px 5px;
    font-weight: 550;
    font-size: 1rem;
}

.comment-write-button {
    padding: 10px 20px;
    border: 1px solid #ced4da;
    border-width: 0px 0px 0px 1px;
    color: #333;
}

.parent-comment-content {
    margin: 0px;
    white-space: pre-wrap;
}

.child-comment-content {
    margin: 0px;
    padding: 0px 0px 0px 25px;
    white-space: pre-wrap;
}

.child-comment {
    padding: 15px 0px 10px 15px;
    background-color: #E9E9E9;
}

.message-room-label {
    margin: 15px 0px 20px 0px;
    border: 1px solid #E7E7E7;
}

.text-box {
    padding: 13px 10px;
    margin: 15px 0px 20px 0px;
    white-space: pre-wrap;
    font-size: 16px;
    font-weight: 600;
    color: #5A5A5A;
}

.board-title {
    font-weight: bold;
    font-size: 20px;
}

.nickname {
    display: inline-block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 1rem;
}

.mini-leadImage {
    display: inline-block;
    margin: 12px 0px 0px 12px;
    vertical-align: sub;
    border: 1px solid #ebebeb;
    border-radius: .25em;
}

.item-area {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 965px;
    margin: 0 auto;
}

.item-box {
    width: calc(25% - 44px);
    margin-right: 44px;
    margin-bottom: 56px;
}

.item-link {
    cursor: pointer;

}

.item-image-top {
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    background-color: #F8F9FA;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
}

.item-image {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 12px;
    border: 1px solid transparent;
}

.item-info {
    margin-top: 12px;
    color: #212529;
}

.item-name {
    margin-bottom: 4px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: normal;
}

.item-price {
    margin-bottom: 4px;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 700;
}

.item-region {
    margin-bottom: 4px;
    font-size: 13px;
    line-height: 1.5;
}

.item-info-detail {
    font-size: 13px;
    color: #868e96;
}

.item-tag {
    font-size: 16px;
    font-weight: 600;
    color: #6B6B6B;
}

.item-next-tag {
    margin-left: 7px;
    font-size: 16px;
    font-weight: 600;
    color: #6B6B6B;
}

.item-edit-leadImage {
    margin-bottom: 10px;
    margin-left: 25px;
}

.msgRoom-item-name {
    margin: 0px 0px 8px 10px;
    font-weight: bold;
    font-size: 1.2rem;
}

.msgRoom-item-price {
    margin: 0px 0px 12px 10px;
    color: #515151;
    font-size: 0.8rem;
}

.msgRoom-name {
    padding: 60px 15px 0px 0px;
    float: right;
    vertical-align: text-bottom;
}

.regName {
    display: inline-block;
    margin-bottom: 8px;
    padding-top: 3px;
    color: #6B6B6B;
    font-size: 0.8rem;
}

.regDate {
    display: inline-block;
    margin-bottom: 8px;
    padding-top: 3px;
    color: #6B6B6B;
    font-size: 0.8rem;
}

/* Message */
.from-me {
  position: relative;
  margin: 10px 0px 10px 550px;
  padding: 10px 20px;
  color: white;
  background: #0B93F6;
  border-radius: 25px;
}
.from-me::before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -2px;
  right: -7px;
  height: 20px;
  border-right: 20px solid #0B93F6;
  border-bottom-left-radius: 16px 14px;
  -webkit-transform: translate(0, -2px);
}
.from-me::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -2px;
  right: -56px;
  width: 26px;
  height: 20px;
  background: #f5f5f5;
  border-bottom-left-radius: 10px;
  -webkit-transform: translate(-30px, -2px);
}

.from-them {
  position: relative;
  margin: 10px 550px 10px 0px;
  padding: 10px 20px;
  background: #E5E5EA;
  border-radius: 25px;
  color: black;
}
.from-them::before {
  content: "";
  position: absolute;
  z-index: 2;
  bottom: -2px;
  left: -7px;
  height: 20px;
  border-left: 20px solid #E5E5EA;
  border-bottom-right-radius: 16px 14px;
  -webkit-transform: translate(0, -2px);
}
.from-them::after {
  content: "";
  position: absolute;
  z-index: 3;
  bottom: -2px;
  left: 4px;
  width: 26px;
  height: 20px;
  background: #f5f5f5;
  border-bottom-right-radius: 10px;
  -webkit-transform: translate(-30px, -2px);
}

.clear {
  clear: both;
}

.message-input-box {
    padding: 0px;
    margin: 50px 0px;
    border: 1px solid #ced4da;
    background-color: #FFFFFF;
}

input[type=file]::file-selector-button {
  width: 150px;
  height: 30px;
  background: #fff;
  border: 1px solid #C0C0C0;
  border-radius: 10px;
  color: #777777;
  cursor: pointer;
}