body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.main-logo {
    font-size: 25px;
    text-decoration-line: none;
}

.main-logo-link {
    display: inline-block;
    width: 120px;
}

.main-logo-link:hover {
  color: #0056b3;
  text-decoration: none;
}

.my-background{
    height: 100vh;
    background: url('../img/flowers-garden.jpg') no-repeat center;
    background-size: cover;
}

.my-btn-upload{
    padding: 6px 25px;
    background-color:#FF6600;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

button {
		border: none;
		background-color:transparent;
}

.btn:active, .btn:focus {
    outline:none !important;
    box-shadow:none !important;
}

.utility-button {
    display: inline-block;
    padding: 5px 12px;
    border: 1px solid #e8e8e8;
    border-radius: 50px;
    font-size: 15px;
    color: #333;
}

.comment-write-button {
    padding: 10px 20px;
    border: 1px solid #ced4da;
    border-width: 0px 0px 0px 1px;
    color: #333;
}

.field-error {
    color: #dc3545;
    border-color: #dc3545;
}

.division-line {
    margin: 0px 0px 10px 0px;
    border-top: 1px solid #E7E7E7;
}

.vertical-division-line {
    margin: 0px 10px;
    border-left: 2px solid #E7E7E7;
}

.views-icon {
    vertical-align: sub;
}

.like-icon {
    vertical-align: sub;
}

.comment-nickname-icon {
    vertical-align: sub;
    margin-left: 15px;
}

.comment-area {
    padding: 10px;
    background-color: #F9F9F9;
}

.comment-icon {
    vertical-align: sub;
}

.comment-input-box {
    padding: 0px;
    margin: 0px;
    border: 1px solid #ced4da;
    background-color: #FFFFFF;
}

.comment-textarea {
    border-radius: 0px;
    border: 1px solid #ced4da;
    border-width: 1px 0px 0px;
}

.comment-nickname {
    display: inline-block;
    padding: 11px 0px 0px 5px;
    font-weight: 550;
    font-size: 1rem;
}

.parent-comment-content {
    margin: 0px;
    white-space: pre-wrap;
}

.child-comment-content {
    margin: 0px;
    padding: 0px 0px 0px 25px;
    white-space: pre-wrap;
}

.child-comment {
    padding: 15px 0px 10px 15px;
    background-color: #E9E9E9;
}

.item-box {
    margin: 15px 0px 20px 0px;
    border: 1px solid #E7E7E7;
}

.text-box {
    padding: 13px 10px;
    margin: 15px 0px 20px 0px;
    white-space: pre-wrap;
}

.board-title {
    font-weight: bold;
    font-size: 20px;
}

.nickname {
    display: inline-block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 1rem;
}

.mini-leadImage {
    margin: 12px 0px 0px 12px;
    vertical-align: sub;
}

.item-name {
    margin: 0px 0px 8px 10px;
    font-weight: bold;
    font-size: 1.2rem;
}

.item-price {
    margin: 0px 0px 12px 10px;
    color: #515151;
    font-size: 0.8rem;
}

.msgRoom-name {
    padding: 60px 15px 0px 0px;
    float: right;
    vertical-align: text-bottom;
}

.regName {
    display: inline-block;
    margin-bottom: 8px;
    padding-top: 3px;
    color: #6B6B6B;
    font-size: 0.8rem;
}

.regDate {
    display: inline-block;
    margin-bottom: 8px;
    padding-top: 3px;
    color: #6B6B6B;
    font-size: 0.8rem;
}

/* Message */
.from-me {
  position: relative;
  margin: 10px 0px 10px 350px;
  padding: 10px 20px;
  color: white;
  background: #0B93F6;
  border-radius: 25px;
}
.from-me::before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -2px;
  right: -7px;
  height: 20px;
  border-right: 20px solid #0B93F6;
  border-bottom-left-radius: 16px 14px;
  -webkit-transform: translate(0, -2px);
}
.from-me::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -2px;
  right: -56px;
  width: 26px;
  height: 20px;
  background: white;
  border-bottom-left-radius: 10px;
  -webkit-transform: translate(-30px, -2px);
}

.from-them {
  position: relative;
  margin: 10px 350px 10px 0px;
  padding: 10px 20px;
  background: #E5E5EA;
  border-radius: 25px;
  color: black;
}
.from-them::before {
  content: "";
  position: absolute;
  z-index: 2;
  bottom: -2px;
  left: -7px;
  height: 20px;
  border-left: 20px solid #E5E5EA;
  border-bottom-right-radius: 16px 14px;
  -webkit-transform: translate(0, -2px);
}
.from-them::after {
  content: "";
  position: absolute;
  z-index: 3;
  bottom: -2px;
  left: 4px;
  width: 26px;
  height: 20px;
  background: white;
  border-bottom-right-radius: 10px;
  -webkit-transform: translate(-30px, -2px);
}

.clear {
  clear: both;
}