<!DOCTYPE HTML>
<html th:replace="~{layout/layout :: layout(~{::section})}" xmlns:th="http://www.thymeleaf.org">
<body>
<section>
<div class="container" style="padding: 0px;">

	<div class="jumbotron p-4 p-md-5 text-white rounded" style="background-color: #564E45;">
		<div class="col-md-6 px-0">
			<h1 class="display-4 font-italic">멍이 냥이 블로그</h1>
			<p class="lead my-3">멍이 냥이 블로그를 방문해 주셔서 감사합니다. </br> 멍이 냥이는 유기 동물의 실종신고 및 구조 관련 커뮤니티 블로그입니다.</p>
			<p class="lead mb-0"><a href="#" class="text-white font-weight-bold">블로그 가이드 보기</a></p>
		</div>
	</div>

	<h1 class="text-muted" style="margin: 0px 0px 20px 10px; font-size: 16px;">
		<img th:src="|/img/siren-line.png|" alt="lost-icon" width="17" height="17"/> 【지역별 실종글】</h1>
	<table style="margin-bottom: 30px;">
		<thead>
		<tr>
			<th th:each="BoardByRegion : ${lostByRegion}" th:text="${BoardByRegion.region}"></th>
		</tr>
		</thead>
		<tbody>
		<tr style="font-weight: bold;">
			<td th:each="BoardByRegion : ${lostByRegion}"><a th:text="${BoardByRegion.count}" th:href="@{/lost(page=0, region=${BoardByRegion.region})}"></a></td>
		</tr>
		</tbody>
	</table>

	<h1 class="text-muted" style="margin: 0px 0px 20px 10px; font-size: 16px;">
		<img th:src="|/img/write.png|" alt="bulletin-icon" width="17" height="17"/> 【지역별 게시글】</h1>
	<table style="margin-bottom: 30px;">
		<thead>
		<tr>
			<th th:each="BoardByRegion : ${bulletinByRegion}" th:text="${BoardByRegion.region}"></th>
		</tr>
		</thead>
		<tbody>
		<tr style="font-weight: bold;">
			<td th:each="BoardByRegion : ${bulletinByRegion}"><a th:text="${BoardByRegion.count}" th:href="@{/bulletins(page=0, region=${BoardByRegion.region})}"></a></td>
		</tr>
		</tbody>
	</table>

	<h1 class="text-muted" style="margin: 0px 0px 20px 10px; font-size: 16px;">
		<img th:src="|/img/item-box.png|" alt="item-icon" width="20" height="20"/> 【지역별 나눔글】</h1>
	<table style="margin-bottom: 30px;">
		<thead>
		<tr>
			<th th:each="BoardByRegion : ${itemByRegion}" th:text="${BoardByRegion.region}"></th>
		</tr>
		</thead>
		<tbody>
		<tr style="font-weight: bold;">
			<td th:each="BoardByRegion : ${itemByRegion}"><a th:text="${BoardByRegion.count}" th:href="@{/items(page=0, region=${BoardByRegion.region})}"></a></td>
		</tr>
		</tbody>
	</table>
</div> <!-- /container -->
</section>
</body>
</html>