<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
	<title>Hello</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
	body {
    height: 100vh;
    background: url('../img/flowers-garden.jpg') no-repeat center;
    background-size: cover;
}
</style>
<body class="my-background">
<div class="container">
	<div th:replace="fragments/bodyHeader :: bodyHeader" />
	<div class="jumbotron">
		<h1>멍이 냥이</h1>
		<p class="lead" th:text="|${nickName} 님 반갑습니다.|">회원</p>
		<p>
			<a class="btn btn-lg btn-secondary" href="/users/detail">마이페이지</a>
			<a class="btn btn-lg btn-secondary" href="/users/logout">로그아웃</a>
		</p>
		<p class="lead">게시판</p>
		<p>
			<a class="btn btn-lg btn-dark" href="/boards?page=1">게시글 목록</a>
			<a class="btn btn-lg btn-dark" href="/boards/new">게시글 작성</a>
		</p>
		<p class="lead">새 기능을 기대하시라</p>
		<p>
			<a class="btn btn-lg btn-info" href="/order">버튼</a>
			<a class="btn btn-lg btn-info" href="/orders">버튼</a>
		</p>
	</div>
	<div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>