<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
	<title>Hello</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body class="my-background">
<div class="container">
	<div th:replace="fragments/bodyHeader :: bodyHeader" />
	<div class="jumbotron">
		<h1>멍이 냥이</h1>
		<p class="lead" th:text="|${nickname} 님 반갑습니다.|">회원</p>
		<p>
			<a class="btn btn-lg btn-secondary" href="/users/detail">마이페이지</a>
			<a class="btn btn-lg btn-secondary" href="/users/logout">로그아웃</a>
		</p>
		<p class="lead">게시판</p>
		<p>
			<a class="btn btn-lg btn-dark" href="/boards?page=1">게시판</a>
			<a class="btn btn-lg btn-dark" href="/items?page=1">나눔 장터</a>
		</p>
		<p class="lead">기타 기능</p>
		<p>
			<a class="btn btn-lg btn-info" href="/messages?page=1">쪽지함</a>
			<a class="btn btn-lg btn-info" href="/inquiries?page=1">문의함</a>
		</p>
	</div>
	<div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>