<!DOCTYPE HTML>
<html th:replace="~{layout/layout :: layout(~{::section})}" xmlns:th="http://www.thymeleaf.org">
<body>
<section>
	<div class="container">
		<form class="board-write-box" role="form" action="/bulletins/new" th:object="${saveForm}"
		      enctype="multipart/form-data" th:method="post">
			<div class="board-title-box">
				<span>
					<label style="display: none;" th:for="title">제목</label>
					<input class="board-title-field form-control" style="border: none;" type="text" th:field="*{title}" th:errorclass="field-error"
					       placeholder="제목">
				</span>
				<span class="float-right">
					<label style="display: none;" th:for="region">지역</label>
					<select th:field="*{region}" th:errorclass="field-error" class="form-select">
						<option value="">지역 선택</option>
						<option th:each="region : ${regions}" th:value="${region}"
						        th:text="${region}">region</option>
					</select>
				</span>
			</div>
			<span class="field-error" th:errors="*{title}">입력 오류</span>

			<div class="division-line"></div>

			<div class="form-group">
				<label style="display: none;" th:for="content">내용</label>
				<textarea style="border: none;" th:errorclass="field-error" class="form-control" th:field="*{content}" rows="10" placeholder="내용"></textarea>
				<p class="field-error" th:errors="*{content}">입력 오류</p>
			</div>

			<div class="division-line"></div>

			<div class="form-group">
				<label style="display: none;" th:for="images">이미지</label>
				<input type="file" multiple="multiple" th:field="*{images}" class="form-control-file">
			</div>
			<p class="text-muted">※［파일제한: 3MB, 5장］</p>
			<p class="field-error" th:errors="*{images}">입력 오류</p>

			<div class="col-lg-12 text-right">
				<button type="button" class="utility-button" th:onclick="|location.href='@{/bulletins?page=0}'|">취소</button>
				<button type="submit" class="utility-button">작성</button>
			</div>
		</form>
	</div> <!-- /container -->
</section>
</body>
</html>