<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
	<div th:replace="fragments/bodyHeader :: bodyHeader"/>
	<form role="form" th:method="post">
		<div class="form-group">
			<label th:for="title">제목</label>
			<p type="text" th:text="${readForm.title}" class="form-control" readonly></p>
			<label>작성자</label>
			<p type="text" th:text="${nickname}" class="form-control" readonly></p>
		</div>
		<p>정말로 삭제하시겠습니까?</p>
		<div class="float-right">
			<button type="button" class="btn btn-primary" th:onclick="|location.href='@{/items/{id}(id=${readForm.id})}'|">취소</button>
			<button type="submit" class="btn btn-primary" >완료</button>
		</div>
	</form>
	<br/>
	<br/>
	<div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>