<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
	button {
		border: none;
		background-color:transparent;
	}
	.field-error {
        border-color: #dc3545;
        color: #dc3545;
    }
    .division-line {
	    border-top: 1px solid #E7E7E7;
	    margin: 0px 0px 10px 0px;
    }
	.board-title {
    	font-weight: bold;
    	font-size: 20px;
	}
</style>
<body>
<div class="container">
	<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<!--	start item board   -->
	<div class="container">
		<div class="row">
			<div class="col-sm-11 board-title text-left" style="justify-content: start">
				<p th:text="${readForm.title}">제목</p>
			</div>
			<div class="col-sm-1" style="justify-content: end">
				<button type="button" class="btm_image" th:onclick="|location.href='@{/items/{id}/like(id=${readForm.id})}'|">
					<img th:if="${!checkLike}" th:src="|/img/blankHeart.png|" width="20" height="20"/>
					<img th:if="${checkLike}" th:src="|/img/redHeart.png|" width="20" height="20"/>
				</button>
			</div>
		</div>
		<div >
			<div class="division-line"></div>
			<div class="row">
				<p th:text="${readForm.itemName}">제품명</p>&nbsp;&nbsp;&nbsp;
				<p style="border-left: 2px solid #E7E7E7;"></p>&nbsp;&nbsp;&nbsp;
				<p th:text="${readForm.price}">가격</p>
			</div>
		</div>
		<div >
			<div class="division-line"></div>
				<div class="row">
					<p th:text="${readForm.user.nickName}">작성자</p>&nbsp;&nbsp;&nbsp;
					<p style="border-left: 2px solid #E7E7E7;"></p>&nbsp;&nbsp;&nbsp;
					<p class="text-muted" th:text="${#temporals.format(readForm.dates.createDate, 'yyyy-MM-dd HH:mm:ss')}">작성 날짜</p>
				</div>
		</div>
	</div>
	<div class="form-group">
		<label for="content"></label>
		<textarea class="form-control" id="content" name="content" th:text="${readForm.content}" rows="12" readonly>내용</textarea>
	</div>
	<div th:if="${!readForm.images.isEmpty()}" class="form-group">
		<p>이미지</p>
		<img th:each="imageFile : ${readForm.images}" th:src="|/images/${imageFile.getStoreFileName()}|" width="300" height="300"/>
	</div>
	<button type="button" class="btn btn-primary" th:if="|${readForm.status} == STILL|" th:onclick="|location.href='@{/}'|">쪽지 보내기</button>
	<div class="float-right">
		<button type="button" class="btn btn-primary" th:onclick="|location.href='@{/items(page=1)}'|">목록으로</button>
		<button th:if="${readForm.user.nickName == nickName}" type="button" class="btn btn-primary"
		        th:onclick="|location.href='@{/items/{id}/edit(id=${readForm.id})}'|">수정</button>
		<button th:if="${readForm.user.nickName == nickName}" type="button" class="btn btn-primary"
		        th:onclick="|location.href='@{/items/{id}/delete(id=${readForm.id})}'|">삭제</button>
	</div>

<!--	end item board   -->
	<br/>
	<br/>
	<div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>