<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
	<div th:replace="fragments/bodyHeader :: bodyHeader" />
	<div>

		<div class="row row-cols-1 row-cols-md-3 g-4">
			<div th:each="pageForm : ${pageForms}">
				<div class="col" style="padding: 15px;">
					<div class="card h-100 w-100">
						<img th:if="${#strings.equals(pageForm.status, 'STILL')}" th:src="|/images/${pageForm.leadImage.getStoreFileName()}|" style="width: 320px; height: 200px"
						     class="card-img-top" alt="대표 이미지">
						<img th:if="${#strings.equals(pageForm.status, 'COMP')}" th:src="|/img/sold_out.png|" style="width: 320px; height: 200px"
						     class="card-img-top" alt="sold out">
						<div class="card-body">
							<h5 class="card-title" th:text="${pageForm.itemName}">제품명</h5>
							<p class="card-text" th:text="${pageForm.price}">가격</p>
							<a th:onclick="|location.href='@{/items/{id}(id=${pageForm.id})}'|" class="btn btn-primary">상세보기</a>
							<p th:if="${pageForm.status == COMP}">나눔 완료</p>
						</div>
					</div>
				</div>
			</div>
		</div>


		<button th:if="${offset > 0}" type="button" class="btn btn-dark"
		        th:onclick="|location.href='@{/items(page=${offset-1})}'|" th:text="|◁|"></button>

		<button th:each="page : ${#numbers.sequence(offset,lastPage)}" type="button" class="btn btn-primary"
		        th:onclick="|location.href='@{/items(page=${page})}'|" th:text="${page+1}"></button>

		<button th:if="${!isEnd}" type="button" class="btn btn-dark"
		        th:onclick="|location.href='@{/items(page=${lastPage+1})}'|" th:text="|▷|"></button>


		<div class="float-right">
			<button type="button" class="btn btn-primary" th:onclick="|location.href='@{/items/new}'|">제품 등록</button>
			<button type="button" class="btn btn-primary" th:onclick="|location.href='@{/}'|">홈으로</button>
		</div>
	</div>
	<br/>
	<br/>
	<div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>