<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
	<div th:replace="fragments/bodyHeader :: bodyHeader"/>
	<!--	start item board   -->
	<div class="container">
		<div class="row">
			<div class="col-sm-11 board-title text-left" style="justify-content: start">
				<p th:text="${readForm.title}">제목</p>
			</div>
		</div>
		<div >
			<div class="division-line"></div>
			<div class="row" >
				<p th:text="${readForm.nickname}">작성자</p>&nbsp;&nbsp;&nbsp;
				<p style="border-left: 2px solid #E7E7E7;"></p>&nbsp;&nbsp;&nbsp;
				<p class="text-muted" th:text="${#temporals.format(readForm.createDate, 'yyyy-MM-dd HH:mm:ss')}">작성 날짜</p>&nbsp;&nbsp;&nbsp;
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="content"></label>
		<textarea class="form-control" id="content" name="content" th:text="${readForm.content}" rows="6" readonly>내용</textarea>
	</div>
	<br/>
	<div class="float-right">
		<button type="button" class="btn btn-primary" th:onclick="|location.href='@{/inquiries(page=1)}'|">목록으로</button>
		<button th:if="${readForm.nickname == nickname}" type="button" class="btn btn-primary"
		        th:onclick="|location.href='@{/inquiries/{id}/edit(id=${readForm.id})}'|">수정</button>
		<button th:if="${readForm.nickname == nickname}" type="button" class="btn btn-primary"
		        th:onclick="|location.href='@{/inquiries/{id}/delete(id=${readForm.id})}'|">삭제</button>
	</div>

	<!--	end item board   -->
	<br/>
	<br/>
	<div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>