<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
	<div th:replace="fragments/bodyHeader :: bodyHeader"/>
	<!--	start inquiry board   -->
	<div class="container">
		<div class="row">
			<div class="col-sm-11 board-title text-left" style="justify-content: start">
				<p th:text="${readForm.title}">제목</p>
			</div>
		</div>
		<div >
			<div class="division-line"></div>
			<div class="row" >
				<p th:text="${readForm.nickname}">작성자</p>&nbsp;&nbsp;&nbsp;
				<p style="border-left: 2px solid #E7E7E7;"></p>&nbsp;&nbsp;&nbsp;
				<p class="text-muted" th:text="${#temporals.format(readForm.createdDate, 'yyyy-MM-dd HH:mm:ss')}">작성 날짜</p>&nbsp;&nbsp;&nbsp;
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="content"></label>
		<textarea class="form-control" id="content" name="content" th:text="${readForm.content}" rows="6" readonly>내용</textarea>
	</div>
	<br/>
	<div class="float-right">
		<button type="button" class="btn btn-primary" th:onclick="|location.href='@{/inquiries(page=1)}'|">목록으로</button>
		<button th:if="${readForm.nickname == nickname}" type="button" class="btn btn-primary"
		        th:onclick="|location.href='@{/inquiries/{id}/edit(id=${readForm.id})}'|">수정</button>
		<button th:if="${readForm.nickname == nickname}" type="button" class="btn btn-primary"
		        th:onclick="|location.href='@{/inquiries/{id}/delete(id=${readForm.id})}'|">삭제</button>
	</div>

	<!--	end inquiry board   -->
	<br/>
	<br/>
	<br/>

	<!--    start comment list    -->

	<div th:if="${commentForms != null}">
		<p>댓글</p>
		<div class="division-line"></div>
	</div>

	<!--       parent comment list     -->

	<div th:each="form : ${commentForms}">
		<div class="row">
			<p th:text="${form.nickname}">nickname</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<p class="text-left text-muted" th:text="${#temporals.format(form.dates.createdDate, 'yyyy-MM-dd HH:mm:ss')}">작성 날짜</p>&nbsp;&nbsp;
			<div>
				<a th:if="${form.nickname==nickname}" class="text-muted"
				   th:href="@{/comments/{id}/edit(id=${form.id}, boardId=${readForm.id})}">수정</a>
				<a th:if="${form.nickname==nickname}" class="text-muted"
				   th:href="@{/comments/{id}/delete(id=${form.id}, boardId=${readForm.id})}">삭제</a>
			</div>
		</div>
		<div>
			<p th:text="${form.content}">content</p>
		</div>
		<a th:href="@{/comments/child(boardId=${readForm.id}, clickReply=${form.id})}">답글 달기</a>
		<div class="division-line"></div>

		<!--    parent comment update form   -->

		<div th:if="${editCommentForm.commentId == form.id}" class="comment-box" >

			<form role="form" th:action="@{/comments/{id}/edit(id=${form.id}, boardId=${readForm.id})}"
			      th:object="${editCommentForm}" th:method="post">
				<p th:text="${nickname}" class="col-form-label attribute-name">닉네임</p>
				<div class="row">
					<div class="col-sm-10">
					<textarea th:errorclass="field-error" class="form-control" th:field="*{content}"
					          rows="2"></textarea>
						<p class="field-error" th:errors="*{content}">입력 오류</p>
					</div>
					<div class="col-sm-2">
						<button type="submit" class="btn" style="background-color: #B2CFF1;">수정</button>
						<button type="button" class="btn" style="background-color: #B2CFF1;"
						        th:onclick="|location.href='@{/inquiries/{id}(id=${readForm.id})}'|">취소</button>
					</div>
				</div>
			</form>

		</div>

		<!--    child comment create form   -->

		<div th:if="${clickReply == form.id}" class="comment-box" >

			<form role="form" th:action="@{/comments/child(id=${readForm.id}, parentId=${form.id})}"
			      th:object="${commentForm}" th:method="post">
				<p th:text="${nickname}" class="col-form-label attribute-name">닉네임</p>
				<div class="row">
					<div class="col-sm-10">
					<textarea th:errorclass="field-error" class="form-control" th:field="*{content}"
					          rows="2"></textarea>
						<p class="field-error" th:errors="*{content}">입력 오류</p>
					</div>
					<div class="col-sm-2">
						<button type="submit" class="btn btn-primary">작성</button>
						<button type="button" class="btn" style="background-color: #B2CFF1;"
						        th:onclick="|location.href='@{/inquiries/{id}(id=${readForm.id})}'|">취소</button>
					</div>
				</div>
			</form>

		</div>

		<!--       child comment list      -->

		<div style="background-color: #F3F3F3" th:each="child : ${form.child}">
			<div style="margin-left: 2em" class="row">
				<p th:text="|┕ ${child.nickname}|">nickname</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<p class="text-left text-muted" th:text="${#temporals.format(child.dates.createdDate, 'yyyy-MM-dd HH:mm:ss')}">작성 날짜</p>&nbsp;&nbsp;
				<div>
					<a th:if="${child.nickname==nickname}" class="text-muted"
					   th:href="@{/comments/{id}/edit(id=${child.id}, boardId=${readForm.id})}">수정</a>
					<a th:if="${child.nickname==nickname}" class="text-muted"
					   th:href="@{/comments/{id}/delete(id=${child.id}, boardId=${readForm.id})}">삭제</a>
				</div>
			</div>
			<div style="margin-left: 4em" >
				<p th:text="${child.content}">content</p>
			</div>
			<div class="division-line"></div>

			<!--    child comment update form   -->

			<div th:if="${editCommentForm.commentId == child.id}" class="comment-box" >
				<form role="form" th:action="@{/comments/{id}/edit(id=${child.id}, boardId=${readForm.id})}"
				      th:object="${editCommentForm}" th:method="post">
					<p th:text="${nickname}" class="col-form-label attribute-name">닉네임</p>
					<div class="row">
						<div class="col-sm-10">
					<textarea th:errorclass="field-error" class="form-control" th:field="*{content}"
					          rows="2"></textarea>
							<p class="field-error" th:errors="*{content}">입력 오류</p>
						</div>
						<div class="col-sm-2">
							<button type="submit" class="btn" style="background-color: #B2CFF1;">수정</button>
							<button type="button" class="btn" style="background-color: #B2CFF1;"
							        th:onclick="|location.href='@{/inquiries/{id}(id=${readForm.id})}'|">취소</button>
						</div>
					</div>
				</form>
				<div class="division-line"></div>
			</div>
		</div>

	</div>

	<!--	   end comment list        -->

	<br/>
	<br/>
	<br/>

	<!--    parent comment create form   -->

	<form role="form" th:action="@{/comments/parent(id=${readForm.id})}" th:object="${commentForm}"
	      th:method="post" class="comment-box">
		<p th:text="${nickname}" class="col-form-label attribute-name">닉네임</p>
		<div class="row">
			<div class="col-sm-10">
				<textarea th:errorclass="field-error" class="form-control" th:field="*{content}" rows="2"></textarea>
				<p class="field-error" th:errors="*{content}">입력 오류</p>
			</div>
			<div class="col-sm-2">
				<button type="submit" class="btn btn-primary">작성</button>
			</div>
		</div>
	</form>
	<br/>
	<br/>
	<div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>