<!DOCTYPE HTML>
<html th:replace="~{layout/layout :: layout(~{::section})}" xmlns:th="http://www.thymeleaf.org">
<body>
<section>
	<div class="container">
		<!--	inquiry board   -->
		<div class="board-area">
			<!--	title    -->
			<div class="row">
				<div class="col-sm-11 board-title text-left">
					<p th:text="${readForm.title}">제목</p>
				</div>
				<div th:if="${readForm.secret}" class="col-sm-1" style="justify-content: end">
					<img th:src="|/img/lock.png|" width="30" height="30"/>
				</div>
			</div><!--	  /title     -->

			<!--	writer and regDate    -->
			<div class="division-line"></div>
			<span class="regName" th:text="${readForm.nickname}">작성자</span>
			<span class="vertical-division-line"></span>
			<span class="regDate" th:text="${#temporals.format(readForm.createdDate, 'yyyy-MM-dd HH:mm:ss')}">작성 날짜</span><!--	writer and regDate    -->

			<!--	board content   -->
			<div class="division-line"></div>
			<div class="text-box" id="content" name="content" th:text="${readForm.content}"></div>
			<div class="division-line"></div><!--	/board content   -->

			<!--    utility button    -->
			<a th:if="${readForm.nickname == session.login_user}" class="utility-button"
			   th:href="@{/inquiries/{id}/edit(id=${readForm.id})}">수정</a>
			<a th:if="${readForm.nickname == session.login_user}" class="utility-button"
			   th:href="@{/inquiries/{id}/delete(id=${readForm.id})}">삭제</a>
			<div class="float-right">
				<a class="utility-button" th:href="@{/inquiries(page=0)}">목록으로</a>
			</div><!--    /utility button    -->

		</div><!--	/inquiry board   -->

		<!--    comment area    -->
		<div class="comment-area">
			<div th:if="${commentForms != null}">
				<span style="font-weight: bold;">댓글</span>
				<img class="comment-icon" th:src="|/img/comment.png|" width="21" height="21"/>
				<div class="division-line"></div>
			</div>

			<!--    comment list    -->
			<div class="comment-list">
				<!--       parent comment list     -->
				<div th:each="form : ${commentForms}">
					<div style="padding: 0px 0px 0px 5px">
						<span class="nickname" th:text="${form.nickname}">nickname</span>
						<span style="margin: 0px 0px 0px 10px">
							<a style="font-size: 0.9rem;" th:if="${form.nickname==session.login_user}" class="text-muted"
							   th:href="@{/comments/{id}/edit(id=${form.id}, boardId=${readForm.id})}">수정</a>
							<a style="font-size: 0.9rem;" th:if="${form.nickname==session.login_user}" class="text-muted"
							   th:href="@{/comments/{id}/delete(id=${form.id}, boardId=${readForm.id})}">삭제</a>
						</span>
						<div>
							<p class="parent-comment-content" th:text="${form.content}">content</p>
						</div>
						<span class="regDate" th:text="${#temporals.format(form.createdDate, 'yyyy-MM-dd HH:mm:ss')}">작성 날짜</span>
						<div>
							<a th:href="@{/comments/child(boardId=${readForm.id}, clickReply=${form.id})}">답글 달기</a>
						</div>
						<div class="division-line" style="margin: 0px;"></div>
					</div>

					<!--    parent comment update form   -->
					<div th:if="${editCommentForm != null}">
						<div th:if="${editCommentForm.commentId == form.id}" class="comment-input-box" >
							<form role="form" th:action="@{/comments/{id}/edit(id=${form.id}, boardId=${readForm.id})}"
							      th:object="${editCommentForm}" th:method="post">
								<div>
									<img class="comment-nickname-icon" th:src="|/img/cat-face.png|" alt="cat-icon" width="17" height="17"/>
									<span class="comment-nickname" th:text="${session.login_user}">닉네임</span>
									<button class="float-right comment-write-button" type="button"
									        th:onclick="|location.href='@{/inquiries/{id}(id=${readForm.id})}'|">취소</button>
									<button class="float-right comment-write-button" type="submit">수정</button>
								</div>
								<div>
									<label th:for="*{content}" style="display: none;"></label>
									<textarea th:errorclass="field-error" class="form-control comment-textarea" th:field="*{content}" placeholder="댓글을 작성해주세요." rows="3"></textarea>
									<p class="field-error" th:errors="*{content}">입력 오류</p>
								</div>
							</form>
						</div>
					</div><!--    /parent comment update form   -->

					<!--    child comment create form   -->
					<div th:if="${clickReply == form.id}" class="comment-input-box" >
						<form role="form" th:action="@{/comments/child(boardId=${readForm.id}, parentId=${form.id})}"
						      th:object="${commentForm}" th:method="post">
							<div>
								<img class="comment-nickname-icon" th:src="|/img/cat-face.png|" alt="cat-icon" width="17" height="17"/>
								<span class="comment-nickname" th:text="${session.login_user}">닉네임</span>
								<button class="float-right comment-write-button" type="button"
								        th:onclick="|location.href='@{/inquiries/{id}(id=${readForm.id})}'|">취소</button>
								<button class="float-right comment-write-button" type="submit">등록</button>
							</div>
							<div>
								<label th:for="*{content}" style="display: none;"></label>
								<textarea th:errorclass="field-error" class="form-control comment-textarea" th:field="*{content}" placeholder="답글을 작성해주세요." rows="3"></textarea>
								<p class="field-error" th:errors="*{content}">입력 오류</p>
							</div>
						</form>
					</div><!--    /child comment create form   -->

					<!--       child comment list      -->
					<div class="child-comment" th:each="child : ${form.child}">
						<span style="padding: 0px 5px 0px 0px" th:text="|┕|"></span>
						<span class="nickname" th:text="${child.nickname}">nickname</span>
						<span style="margin: 0px 0px 0px 10px">
							<a style="font-size: 0.9rem;" th:if="${child.nickname == session.login_user}" class="text-muted"
							   th:href="@{/comments/{id}/edit(id=${child.id}, boardId=${readForm.id})}">수정</a>
							<a style="font-size: 0.9rem;" th:if="${child.nickname == session.login_user}" class="text-muted"
							   th:href="@{/comments/{id}/delete(id=${child.id}, boardId=${readForm.id})}">삭제</a>
						</span>
						<div>
							<p class="child-comment-content" th:text="${child.content}">content</p>
						</div>
						<span class="regDate" style="padding: 0px 0px 0px 25px; margin: 0px;" th:text="${#temporals.format(child.createdDate, 'yyyy-MM-dd HH:mm:ss')}">작성 날짜</span>
						<div class="division-line"></div>

						<!--    child comment update form   -->
						<div th:if="${editCommentForm != null}">
							<div th:if="${editCommentForm.commentId == child.id}" class="comment-input-box" style="margin-right: 15px;">
								<form role="form" th:action="@{/comments/{id}/edit(id=${child.id}, boardId=${readForm.id})}"
								      th:object="${editCommentForm}" th:method="post">
									<div>
										<img class="comment-nickname-icon" th:src="|/img/cat-face.png|" alt="cat-icon" width="17" height="17"/>
										<span class="comment-nickname" th:text="${session.login_user}">닉네임</span>
										<button class="float-right comment-write-button" type="button"
										        th:onclick="|location.href='@{/inquiries/{id}(id=${readForm.id})}'|">취소</button>
										<button class="float-right comment-write-button" type="submit">수정</button>
									</div>
									<div>
										<label th:for="*{content}" style="display: none;"></label>
										<textarea th:errorclass="field-error" class="form-control comment-textarea" th:field="*{content}" placeholder="댓글을 작성해주세요." rows="3"></textarea>
										<p class="field-error" th:errors="*{content}">입력 오류</p>
									</div>
								</form>
							</div>
						</div><!--    /child comment update form    -->
					</div><!--    /child comment list    -->
				</div><!--    /parent comment list    -->
			</div><!--    /comment list    -->

			<!--    parent comment create form   -->
			<form role="form" th:action="@{/comments/parent(boardId=${readForm.id})}" th:object="${commentForm}"
			      th:method="post" class="comment-input-box">
				<div>
					<img class="comment-nickname-icon" th:src="|/img/cat-face.png|" alt="cat-icon" width="17" height="17"/>
					<span class="comment-nickname" th:text="${session.login_user}">닉네임</span>
					<button class="float-right comment-write-button" type="submit">등록</button>
				</div>
				<div>
					<label th:for="*{content}" style="display: none;"></label>
					<textarea th:errorclass="field-error" class="form-control comment-textarea" th:field="*{content}" placeholder="댓글을 작성해주세요." rows="3"></textarea>
					<p class="field-error" th:errors="*{content}">입력 오류</p>
				</div>
			</form><!--    /parent comment create form   -->
		</div><!--	   /comment area      -->
	</div> <!-- /container -->
</section>
</body>
</html>