<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
	<div th:replace="fragments/bodyHeader :: bodyHeader" />
	<div>
		<form th:object="${inquirySearch}" class="form-inline" th:action="@{/inquiries}">
			<div class="form-group mb-2">
				<input type="text" th:field="*{title}" class="form-control" placeholder="제목"/>
			</div>
			<button type="submit" class="btn btn-primary mb-2">검색</button>
		</form>

		<table class="table table-striped">
			<thead>
			<tr style="text-align: center">
				<th></th>
				<th>제목</th>
				<th>작성자</th>
				<th>작성일</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="pageForm : ${pageForms}" style="text-align: center">
				<td ></td>
				<td th:text="${pageForm.secret} and ${pageForm.nickname != session.login_user} and ${!isManager} ? '비밀글' : ${pageForm.title}"
				    th:onclick="${pageForm.secret} and ${pageForm.nickname != session.login_user} and ${!isManager} ? '' : |location.href='@{/inquiries/{id}(id=${pageForm.id})}'|"
				    style="cursor:pointer;"></td>
				<td th:text="${pageForm.nickname}"></td>
				<td th:text="${#temporals.format(pageForm.createdDate, 'yyyy-MM-dd')}"></td>
			</tr>
			</tbody>
		</table>

		<button th:if="${offset > 0}" type="button" class="btn btn-dark"
		        th:onclick="|location.href='@{/inquiries(page=${offset-1})}'|" th:text="|◁|"></button>

		<button th:each="page : ${#numbers.sequence(offset,lastPage)}" type="button" class="btn btn-primary"
		        th:onclick="|location.href='@{/inquiries(page=${page}, title=${inquirySearch.title})}'|" th:text="${page+1}"></button>

		<button th:if="${!isEnd}" type="button" class="btn btn-dark"
		        th:onclick="|location.href='@{/inquiries(page=${lastPage+1})}'|" th:text="|▷|"></button>

		<div class="float-right">
			<button type="button" class="btn btn-primary" th:onclick="|location.href='@{/inquiries/new}'|">글 작성</button>
			<button type="button" class="btn btn-primary" th:onclick="|location.href='@{/}'|">홈으로</button>
		</div>
	</div>
	<br/>
	<br/>
	<div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>