<!DOCTYPE HTML>
<html th:replace="~{layout/layout :: layout(~{::section})}" xmlns:th="http://www.thymeleaf.org">
<body>
<section>
	<div class="container inquiry-list">
		<h1 class="text-muted" style="margin: 0px 0px 20px 10px; font-size: 16px;">
			<img th:src="|/img/question.png|" alt="message-icon" width="16" height="16"/> 【문의함】</h1>
		<form th:object="${inquirySearch}" class="form-inline" th:action="@{/inquiries}">
			<div class="form-group mx-sm-1 mb-2">
				<input type="text" th:field="*{title}" class="form-control" placeholder="제목"/>
			</div>
			<button type="submit" class="utility-button mb-2">
				<img th:src="|/img/search.png|" width="25" height="25"/>
			</button>
			<a class="utility-button mb-2" style="margin-left: auto;" th:href="@{/inquiries/new}">글 작성</a>
		</form>

		<table class="table table-striped">
			<thead>
			<tr style="text-align: center">
				<th><img th:src="|/img/lock.png|" width="20" height="20"/></th>
				<th>제목</th>
				<th>작성자</th>
				<th>작성일</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="pageForm : ${pageForms}" style="text-align: center">
				<td style="width: 7%">
					<img th:if="${pageForm.isSecret()}" th:src="|/img/lock.png|" width="20" height="20"/>
				</td>
				<td th:text="${pageForm.isSecret()} and ${pageForm.nickname != session.login_user} and ${!isManager} ? '비밀글' : ${pageForm.title}"
				    th:onclick="${pageForm.isSecret()} and ${pageForm.nickname != session.login_user} and ${!isManager} ? '' : |location.href='@{/inquiries/{id}(id=${pageForm.id})}'|"
				    style="width: 54%; cursor:pointer;"></td>
				<td th:text="${pageForm.nickname}" style="width: 23%"></td>
				<td th:text="${#temporals.format(pageForm.createdDate, 'yyyy-MM-dd')}" style="width: 16%"></td>
			</tr>
			</tbody>
		</table>

		<!--	start pagination	-->
		<nav class="nav justify-content-center">
			<ul class="pagination">
				<li class="page-item">
					<a th:if="${offset > 0}" class="page-link"
					   th:href="@{/inquiries(page=${offset-1}, title=${inquirySearch.title})}">&laquo;</a>
				</li>

				<li th:each="page : ${#numbers.sequence(offset,lastPage)}" class="page-item">
					<a class="page-link" th:text="${page+1}"
					   th:href="@{/inquiries(page=${page}, title=${inquirySearch.title})}"></a>
				</li>

				<li class="page-item">
					<a th:if="${!isEnd}" class="page-link" aria-label="Next"
					   th:href="@{/inquiries(page=${lastPage+1}, title=${inquirySearch.title})}">&raquo;</a>
				</li>
			</ul>
		</nav> <!--	/pagination -->

		<br/>
		<br/>
	</div> <!-- /container -->
</section>
</body>
</html>